* {
	margin: 0;
	padding: 0;
}

body{
	background-color: #FAFAFA;
}

#menu {
    width: 100%;
    height: 55px;
    margin: 0px auto;
    padding: 0px;
    background: #A4A4A4; 
    position: fixed;
    z-index: 1;
}

#menu ul {
    margin: 0;
    padding: 0px 0px 0px 0px;
    list-style: none;
    line-height: normal;
    text-align: center;
}

#menu ul li {
    display: inline-block;
   
}

#menu a {
    display: block;
    letter-spacing: 1px;
    margin: 0px 10px;
    line-height: 55px;
    padding: 0 20px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color:#FFFFFF;
    border: none;
}

#menu li:hover { 
    background-color: #B40404; ;
    }

/*Adcionando uma fonte externa*/
@font-face{
    font-family: 'fonte-nome-pagina';
    src: url("fontes/Another Flight.otf")
}

header {
    padding-top: 70px;
    text-align: center;
    font-family: fonte-nome-pagina, serif;
    font-size: 25px;
    color: #000;   
}

/*-----------------------------------------------------*/

/*Estilizando o main*/

 main{
    max-width: 1024px;
    min-width: 950px;
    height: 100%;
    margin: 0px auto;
}

/*-----------------------------------------------------*/

/*Sessão de Destaque*/

#destaque {
    width: 100%;
    height: 310px;
    margin-top: 20px;
}

#slider img{
    width: 90%;
    margin-top: 0px;
    float: right;
}

#b1{
    position: relative;
    right: 20px;
    top: 0px;
}
#b2{
    position: relative;
    right: 20px;
    top: -295px;
}

#b3{
    position: relative;
    right: 20px;
    top: -590px;
}

#destaque p {
    float: left;
    color: #000;
}

#destaque div {
    width: 48%;
    float: left;

}

#destaque div h3 {
    margin: 24px 0px 5px 10px;
    color: #B40404;
    font-size: 30px;
    font-family: fonte-nome-pagina, serif;
    margin-top: 0px;
}

#destaque div p {
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
    margin-left: 10px;
    font-family: arial, sans-serif;
}

/*-----------------------------------------------------*/

/*Sessão Sobre o Blog*/

#sobre{
    width: 100%;
    height: 350px;
    margin-top: -570px;
    float: left;
}

@font-face{
    font-family: 'fonte-pagina-blog';
    src: url("fontes/Twisted System DEMO.otf");
}

#sobre h1{
    text-align: center;
    font-family: fonte-pagina-blog, serif;
    margin-top: 30px;
    font-size: 70px;
    color: #B40404;
}

#sobre h3{
    margin: 0px 0px 10px 0px;
    color: #B40404;
    font-size: 30px;
    font-family: fonte-nome-pagina, serif;
    margin-top: 20px;
}

#sobre p{
    text-align: center;
    text-align: justify;
    font-size: 20px;
}

/*-----------------------------------------------------*/

/*Sessão de Postagens*/

#postagens {
    width: 100%;
    height: 360px;
    float: left;
    margin-top: -210px;
}

#postagens h3  {
    margin: 0px 0px 10px 0px;
    color: #B40404;
    font-size: 30px;
    font-family: fonte-nome-pagina, serif;
}

#postagens article {
    width: 45%;
    height: 100%;
    padding: 0px 4px;
    float: left;
    border-left: 1px dashed #B40404;
    border-right: 1px dashed #B40404;
    font-family: arial, sans-serif;
    
}

#postagens article:last-child {
    border-right: 1px dashed #B40404;
}

#postagens article:hover {
    background-color:#E6E6E6;
}

#postagens article figure img {
    width: 465px;
    margin: 28px auto;
}

#postagens article h4 {
    color: #000;
    margin: 5px auto;
    font-size: 15px;
    text-align: center;
}
#postagens article h6{
    font-size: 10px;
    font-family: arial, sans-serif;
    color:#B40404;
    float: right;
    margin-top: 5px;
}

#postagens article p {
    font-size: 14px;
    font-family: arial, sans-serif;
    text-align: center;
    padding: 5px 20px;
    text-align: justify;
    color: #000;
}

/*-----------------------------------------------------*/

/*Sessão de Depoimentos*/

#depoimentos {
    width: 100%;
    height: 370px;
    float: left;
    margin-top: 420px;
}

#depoimentos h3  {
    margin: 0px 0px 10px 0px;
    color: #B40404;
    font-size: 30px;
    font-family: fonte-nome-pagina, serif;
}

#depoimentos article {
    width: 24%;
    height: 310px;
    padding: 0px 4px;
    float: left;
    border-left: 1px dotted #B40404;
}


#depoimentos article:last-child {
    border-right: 1px dotted #B40404;
}


#depoimentos article:hover {
    background-color: #E6E6E6;
}

#depoimentos article img{

}

#img1{
    width: 100px;

}

#img2{
    width: 150px;
}

#img3{
    width: 120px;
}

#img4{
    width: 150px;
}

#depoimentos article h4 {
    text-align: center;
    font-size: 15px;
    font-family: arial, sans-serif;
    color: #000;
    width: 160px;
    margin: 5px auto;
}

#depoimentos article p {
    font-size: 13px;
    font-family: arial, sans-serif;
    text-align: center;
    text-align: justify;
    padding: 5px 20px;
}

/*-----------------------------------------------------*/

/*Sessão de Galeria*/



#galeria h3{
    color: #B40404;
    font-size: 30px;
    font-family: fonte-nome-pagina, serif;
    text-align: center;
}

.gallery-container {
  width: 100%;
  position: relative;
  margin: 0 5%;
  background: #333;
  padding: 2px;
}
  @media (min-width: 480px) {
      .gallery-container {
        width: 650px;
        margin-left: 200px;
      }
  }

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,0.1);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  width: 100%;
  text-align: center;
}

.imgslide {
  width: 100%;
}

.numbertext {
  color: #000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
@media (max-width: 768px) {
  .numbertext {
    top: 15px;
  }
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




/*-----------------------------------------------------*/

/*Sessão de Doador*/

#doador{
    width: 100%;
    height: 80%;
    float: left; 
    margin-top: 40px;  
}

#doador h3{
    margin: 0px 0px 10px 0px;
    color: #B40404;
    font-size: 30px;
    font-family: fonte-nome-pagina, serif;
}

#doador h4{
    font-size: 22px;
}

#doador form{
    max-width: 100%;
    font-family: fonte-nome-pagina, serif;
    font-weight: bold;
    font-size: 18px;
    margin-left: 50px;
}

#doador input{
    border-radius: 10px;
    background: #B40404;
}

#doador label, input, select{
    margin-left: 50px;
}

#doador legend{
    font-size: 25px;
    color: #B40404;
    text-align: center;
}

#doador h4{
    margin-left: : 0px;
}

#nome  {
    width: 320px;
    padding: 10px;
}

#cpf{
    width: 320px;
    padding: 10px;
}

#senha{
    width: 320px;
    padding: 10px;
}

#idade{
    width: 320px;
    padding: 10px;
}

#e-mail{
    width: 320px;
    padding: 10px;
}

#telefone{
    width: 320px;
    padding: 10px;
}

#cidade{
    width: 320px;
    padding: 10px;
} 

#endereco{
    width: 320px;
    padding: 10px;
}

#cadastrar{
    background: #B40404;
    margin-top: 20px;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    margin-left: 0px;
}

#reset{
    background: #B40404;
    margin-top: 20px;
    height: 40px;
    width: 90px;
    border-radius: 10px;
    margin-left: 720px;
}


/*-----------------------------------------------------*/

/*Sessão de Contato*/

#contato{
    width: 100%;
    height: 80%;
    float: left;
    margin-top: 20px;    
}

#contato form{
    background: #A4A4A4;
    max-width: 100%;
    margin: 0 auto;
    padding: 0px 10px 10px 10px;
    font-size: 20px;
    font-family: fonte-nome-pagina, serif;
    font-weight: bold;
}

#contato textarea{
    width: 320px;
    padding: 10px;
}

#contato h3{
    margin: 0px 0px 10px 0px;
    color: #B40404;
    font-size: 30px;
    font-family: fonte-nome-pagina, serif;
}

#contato img{ 
    width: 300px;
    float: right;
}

#nomecompleto{
    width: 320px;
    padding: 10px;
    margin-top: 10px;
}

#email{
    width: 320px;
    padding: 10px;
}

#fone{
    width: 320px;
    padding: 10px;
}

#mensagem{

}
#enviar{
    background: #B40404;
    margin-top: 20px;
    height: 40px;
    width: 70px;
    border-radius: 10px;
}

/*-----------------------------------------------------*/

/*Sessão de Rodapé*/

#footer {
    height: 150px;
    padding: 0px 0 15px 0;
    background: #A4A4A4;
    font-family: arial, sans-serif;
    margin-top: 2000px;
    position: relative;

}

#footer p {
    margin: 0;
    padding-top: 40px;
    line-height: normal;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: #B40404;
}